html, body {
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  background: #edf0f5;

  @media #{$info-tablet-horizontal} {
    font-size: 14px;
  }
  @media #{$info-tablet-vertical} {
    font-size: 14px;
  }
  @media #{$info-phone} {
    font-size: 12px;
  }
}
