.layout-main {
  .p-button--block {
    display: block;
    width: 100%;
    margin-bottom: 15px;
  }

  .p-button--inline {
    display: inline;
  }

  .p-button--block-inline {
    display: inline-block;
  }

}