.p-display--block {
  display: block;
}

.p-display--inline {
  display: inline;
}

.p-display--block-inline {
  display: inline-block;
}

// FONT
.p-font--bold {
  font-weight: bold;
}

.p-font--light {
  font-weight: lighter;
}

// SHADOW
.p-box-shadow--none {
  box-shadow: none !important;
}