.fa-sort:before {
  font-size: $fontSizeIcon;
  line-height: $lineHeightIcon;
  display: block;
}

.fa-chevron-down:before {
  font-size: $fontSizeIcon;
  line-height: $lineHeightIcon;
  display: block;
}