:not(.layout-fixed) {
  .main-sidebar {
    min-height: 100vh;
    height: 100%;

    .nav-sidebar {
      .nav-sidebar {
        padding-left: 15px;
      }

      .nav-link {
        .right {
          right: 1.2rem
        }
      }
    }
  }
}