body {
  .p-paginator {
    .p-paginator-pages {
      .p-paginator-page {
        &.p-highlight {
          border-radius: $borderRadius;
        }
      }
    }

    .p-dropdown {
      .p-dropdown-label {
        color: $textColor;
        border-radius: $borderRadius;
        border: 1px solid $borderGrayLight;
      }

      .p-dropdown-trigger {
        background: none;
      }
    }
  }
}