.badge {
  text-transform: capitalize;
  font-weight: normal;

  &-pending {
    background: $orange;
    color: $white;
  }

  &-activated {
    background: $olive;
  }

  &-blocked {
    background: $gray-600;
  }

  &-publish {
    background: $green;
    color: white;
  }
}