// Prime
.wrapper {
  &.table-responsive {
    overflow: unset;
  }

  .p-datatable-thead {
    tr {
      th {
        border: 1px solid $gray-400;
        text-align: left;
        overflow: unset;

        .pi {
          float: right;
          padding: inherit;
          font-size: 11px;
        }
      }
    }
  }

  .p-datatable-tbody {
    tr {
      &.p-datatable-emptymessage {
        td {
          height: 40vh;
          text-align: center;
          vertical-align: middle;
          font-size: 2rem;
          color: $gray-300
        }
      }

      td {
        overflow: unset;
        border: 1px solid $gray-400;
      }
    }
  }

  .p-calendar {
    display: block;

    input {
      width: 100%;
      display: block;
      border: 1px solid $gray-400;
    }

    /deep/ .p-datepicker {
      min-width: 25em;

      tr {
        th {
          border: none
        }

        td {
          border: none;
          font-weight: 400;
        }
      }

    }
  }

}